* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7f7f7;
    color: #333;
}

/* NAVBAR */
header {
    background: white;
    padding: 15px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav ul li a:hover {
    color: #0099ff;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 40px;
    background: linear-gradient(to bottom right, #e8f3ff, #ffffff);
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-text span {
    color: #0099ff;
}

.hero-text p {
    max-width: 500px;
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 25px;
    border: none;
    background: #0099ff;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #006bb3;
}

/* ABOUT */
.about {
    padding: 80px 40px;
    background: white;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

/* PROJECTS */
.projects {
    padding: 80px 40px;
}

.projects h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.card-bt
